*{
    border: 0;
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

header{
    position: absolute;
    width: 100vw;
    height: 90px;
    background: rgba(7, 46, 68, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    width: 10%;
    height: 90px;
}

#logo img{
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

header nav{
    width: 75%;
    height: 20px;
    padding: 40px 0;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header nav a:hover{
    color: skyblue;
}

#homeF{
    width: 100vw;
    height: 750px;
}

#homeF img{
    width: 100%;
    height: 100%;
}

#homeF p{
    position: absolute;
    width: 799px;
    height: 434px;
    left: 60px;
    top: 180px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secao{
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secao div{
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
}

.secao div img{
    width: 200px;
    height: 200px;
}

.secao div p{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #000000;
}

.secao div h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5%;
    color: #000000;
}

.secao div button{
    width: 30%;
    height: 30px;
    background: #106493;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.secao div button:hover{
    width: 33%;
    height: 35px;
}

.secao div button a{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

}

.secao2{
    width: 100vw;
    height: 500px;
    margin-top: 3%;
    text-align: center;
    background: linear-gradient(90deg, #3C3D68 0%, #08093A 100%);
}

.secao2 div{
    width: 50%;
    height: 500px;
    float: left ;
}

.secao2 div img{
    width: 100%;
    height: 500px;
}

.secao2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #106493;
    padding: 1%;
}

.secao2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 4%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secao2 button{
    width: 10%;
    height: 35px;
    background: #106493;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.secao2 button a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secao2 button:hover{
    width: 11%;
    height: 40px;
}



