*{
    border: 0;
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

header{
    position: absolute;
    width: 100vw;
    height: 90px;
    background: rgba(7, 46, 68, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    width: 10%;
    height: 90px;
}

#logo img{
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

header nav{
    width: 75%;
    height: 20px;
    padding: 40px 0;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header nav a:hover{
    color: skyblue;
}

#homeF{
    width: 100vw;
    height: 750px;
}

#homeF img{
    width: 100%;
    height: 100%;
}

#homeF p{
    position: absolute;
    width: 799px;
    height: 434px;
    left: 60px;
    top: 180px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.secao{
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 50px 0;
}

.secao h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #106493;
}

.secao p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 25px 0;
    text-transform: uppercase;

    color: #000000;
}

.secao button{
    width: 8%;
    height: 40px;
    background: #106493;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.secao button a{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.secao button:hover{
    width: 9%;
    height: 45px;
    color: skyblue;
}

